{% extends 'base.html.twig' %}

{% block title %}Shoesme | Mon Panier {% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/home.css") }}">
{% endblock %}

{% block body %}

<h1 class="text-center mt-4 mb-5">
    {% if app.user %}
        Votre panier {{app.user.prenom|capitalize}}
    {% else %}
        Panier
    {% endif %}
</h1>
{# {{dump(dataPanier)}} #}

{% set qte = 0 %}

{% for key in dataPanier %}
    {# {{dump(key.Chaussure.stock)}} #
    {# <option value="{{ item }}">{{ item }}</option> #}
{% endfor %}

<div class="d-flex flex-row conteneur">
    {% if dataPanier %}
        <div class="col-7 box-produit">
            {% for data in dataPanier %}

                <div class="boite-1 d-flex flex-row mb-4">
                    <div class="col-6 d-flex flex-row justify-content-center image">
                        <img class="img-fluid" src="{{ asset('img/' ~ data.Chaussure.photo) }}" alt="" style="image-size: contain;">
                    </div>

                    <div class=" col-3 ms-3 my-3 details">
                        <h3 class="mt-2 fs-2"><strong>{{ data.Chaussure.marque }}</strong></h3>
                        <span>{{ data.Chaussure.model }}</span>
                        <p class="my-2">{{ data.Chaussure.descriptif }}</p>

                        <div class="my-2 fs-4">Taille : {{data.Chaussure.pointure}}</div>
                        <div class="my-2 fs-4">Couleur : {{data.Chaussure.couleur}}</div>
                        <div class=" d-flex justify-content-between">
                            
                            <a href="{{path('panier_remove', {id: data.Chaussure.id})}}" class=""><i class="bi bi-dash-square text-secondary fs-5"></i>{#<i class="bi bi-cart-dash"></i>#}</a>
                            <div class="mx-2">{{data.Quantite}}</div>
                            {% if data.Quantite == data.Chaussure.stock  %}
                                {% else %}
                                <a href="{{path('panier_add', {id: data.Chaussure.id})}}" class=""><i class="bi bi-plus-square text-secondary fs-5"></i>{#<i class="bi bi-cart-plus"></i>#}</a>
                            {% endif %}
                            
                            
                                
                            <a href="{{path('details_article', {'id': data.Chaussure.id })}}" class="text-dark mx-auto">Détails article</a>

                        </div>
                    </div>

                    <div class="col-3 d-flex flex-row justify-content-center prix">
                        <p class="fs-3"> {{ data.Chaussure.prix }} €</p>
                        <a href="{{path('panier_delete', {id: data.Chaussure.id})}}" class="text-dark"><i class="bi bi-x-lg fs-3 me-1"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% for data in dataPanier %}
            {% set qte = qte + data.Quantite %}
        {% endfor %}

        <div class="mt-5 col-5 box-commande" >
            <div class="boite-synth mx-auto">
                <h2 class="text-center mt-4 mb-2">Synthèse de la commande</h2>
                
                {% if qte == 1 %}
                <div class="d-flex flex-row justify-content-center my-4">
                    <p class="fs-3"> {{ qte }} article</p>
                </div>                
                {% else %}
                <div class="d-flex flex-row justify-content-center my-4">
                    <p class="fs-3"> {{ qte }} articles</p>
                </div>                 
                {% endif %}
                

                {% for data in dataPanier %}
                    <div class="d-flex flex-row justify-content-between ">

                        <p class="fs-4 ms-5">{{data.Quantite}} {{ data.Chaussure.model}}</p>
                        
                        <p class="fs-4 me-5">{{data.Quantite * data.Chaussure.prix}} €</p>
                        
                    </div>
                {% endfor %}            

                {% if total >= 100 %}                
                    <div class="d-flex flex-row justify-content-around my-3">
                        <p class="fs-3">Livraison</p>
                        <p class="fs-3">Gratuite</p>
                    </div>
                {% else %}
                    <div class="d-flex flex-row justify-content-around my-3">
                        <p class="fs-3">Frais de port</p>
                        <p class="fs-3">9.90 €</p>
                    </div>
                {% endif %}                
                
                {% if total <= 100 %}
                    <div class="d-flex flex-row justify-content-around">
                    
                        <p class="fs-2">Total</p> 
                        <p class="fs-2 fw-bold">{{total + 9.90}} €</p>

                    </div>
                {% else %}
                    <div class="d-flex flex-row justify-content-around mb-2">

                        <p class="fs-2">Total</p> 
                        <p class="fs-2 fw-bold">{{total}} €</p>

                    </div>
                    
                {% endif %}
                
                <div class="d-flex flex-row justify-content-around mb-2">

                    <p class="me-3">Taxes</p>
                    <p class="ms-3">{{ (total * 0.2)|number_format(2)}} €</p>
                    
                </div>

                <div class="d-flex flex-row justify-content-around mt-5">

                    <p class="fs-5 me-3">Total</p>
                    <p class="fs-5 fw-bold ms-3">{{total}}</p>

                </div>

                <div class="d-flex flex-row justify-content-around mb-5">

                    <p class="fs-3 ms-3">TVA incluse</p>
                    <p class="fs-3 me-2">{{ (total * 1.2)|round(2)}} €</p>
                    
                </div>

                <div class="fs-3 d-flex flex-row justify-content-center mt-3 mb-2">
                <a href="{{path('commande')}}" class="bouton-commande mx-auto">Valider commande</a>
                </div>

            </div>
        </div>

</div>

{% else %}

<h2 class="text-center mx-auto fst-italic my-5"><i class="bi bi-bag"></i> Panier vide </h2>

{% endif %} 
    
    
{% endblock %}
