{% extends 'base.html.twig' %}

{% block title %}Hello FemmeController!{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/home.css") }}">
{% endblock %}

{% block body %}


<div class="">
        <h3 class="text-center">Femme</h3>
</div>


<img src="{{ asset('img/banniere_2.jpg') }}" alt="banniere" class="w-100">

<h1 class="text-center mt-5 mb-2">Chaussures femme</h1>

    <div class="ch1 mb-1 mt-5 row justify-content-around col-8 mx-auto">
        
        {% for data in chaussure %}
            {% if data.sexe == 'f' %}
            {% if data.pointure == 38 %}
                 <div class="shoes_card card mb-5 carte_chaussure" width="300px" height="300px">
                    <a href="{{path('details_article', {'id': data.id })}}" class="p-2 link-secondary btn">
                        <div class="d-flex justify-content-between details_chaussure">
                            <div class="fst-italic ms-3 text-black "> {{data.marque|upper}} {{data.model|capitalize}}</div> 
                            <div class="fst-italic mx-3 text-black"><strong> {{data.prix}} €</strong></div>
                        </div>
                        <p class="">Chaussure pour Femme</p>
                        <img src="{{ asset('img/' ~ data.photo) }}" class="img-fluid" alt="chaussure1" width="300px" height="350px">
                        <a href="{{path('details_article', {'id': data.id })}}" class="text-secondary ">Details article</a>
                    </a>
                </div>

            {% endif %} 
            {% endif %} 

        {% endfor %}
    </div>
<h3 class="mb-3 m-t1 p-2"><a href="#" class="H py-3">Tout voir</a></h3>

{% endblock %}
