{% extends "base.html.twig" %}
{% block title %}
    ShoesMe | Profil Edit
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/home.css") }}">
{% endblock %}

{% block body %}

<div class="main-inscription">
    <div class="div-inscription p-4 ">

        {{form_start(profilUpdate, {'attr': {'class': 'col-4  mx-auto my-5 bg-white form-inscription'}} ) }}

            <div class="civilite">
                {{form_row(profilUpdate.sexe, {'attr': {'class': 'd-flex flex-row justify-content-between champsex'}} ) }}
            </div>

            <div class="col-12">
                {{form_row(profilUpdate.nom)}}
                {{form_row(profilUpdate.prenom)}}
            
                {{form_row(profilUpdate.dateNaissance)}}
                {{form_row(profilUpdate.adresse)}}
            </div>
            <div class='d-flex flex-row justify-content-between coordonnees'>  
                <div class="col-5">     
                    {{form_row(profilUpdate.ville) }}
                </div> 
                <div class="col-5"> 
                    {{form_row(profilUpdate.codePostal) }}
                </div> 
            </div>
            <div class='col-5 champtel'>
                {{form_row(profilUpdate.telephone)}} 
            </div>
        
            <div class='col-10'>
                {{form_row(profilUpdate.avatar)}}            
            </div>

            {% if avatarActuel %}
            <p class="text-center">
                <div class="mb-2 text-center"><em>Vous pouvez uploader une nouvelle photo si vous souhaitez la modifier</em></div>
                <img src="{{ asset('avatar/' ~ avatarActuel)}}"  class="img-fluid"  height='200px'>
            </p>

            {% endif %}

            <div class="mx-auto text-center mt-2">
                <button class="col-4 btn btn-dark text-white">Valider</button>
            </div>

        {{form_end(profilUpdate)}}
    </div>
</div>   
{% endblock %}