{% extends 'base.html.twig' %}

{% block title %}
    Shoes Me | Homme
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/home.css") }}">
{% endblock %}

{% block body %}

<div class="">
    <h3 class="text-center">Homme</h3>
</div>

<img src="{{ asset('img/banniere.jpg') }}" alt="banniere" class="w-100">

<h1 class="text-center mt-5 mb-2">Chaussures Homme</h1>

    <div class="ch1 mb-1 mt-5 row justify-content-around col-10 mx-auto">
        
        {% for  data in dataChaussure %}
        
            <div class="shoes_card card mb-5 carte_chaussure col-3 mx-2" >

                <a href="{{path('details_article', {'id': data.id })}}" class="p-2 link-secondary" height="350px">
                    <div class="d-flex justify-content-between details_chaussure mx-2">
                        <div class="fst-italic ms-1 text-black "> {{data.marque|upper}} {{data.model|capitalize}}</div> 
                        <div class="fst-italic mx-1 text-black"><strong> {{data.prix}} €</strong></div>
                    </div>
                    <p class="">Chaussure pour Homme</p>
                    <img src="{{ asset('img/' ~ data.photo) }}" class="img-fluid" alt="chaussure1" height="350px">
                    <a href="{{path('details_article', {'id': data.id })}}" class="text-center text-black">Details article</a>
                </a>
            </div>

        {% endfor %}

    </div>

    <div class="my-5"></div>

    {# <img src="{{ asset('img/banniere4.jpg') }}" alt="banniere" class="w-100"> #}
{% endblock %}