{% extends 'base.html.twig' %}

{% block title %}Hello HommeController!{% endblock %}

{% block body %}
<div class="d-flex">
    <div class="head">
        <h3 class="me-5">Homme</h3>
        
            <div class="container d-flex justify-content-center align-items-center">
                <a href="#" class="me-5 H">Promotions</a>
                <a href="#" class="me-5 H">Sneakers</a>
                <a href="#" class="me-5 H">Derbies</a>
                <a href="#" class="me-5 H">Boots</a>
                <a href="#" class="me-5 H">Chaussures de villes</a>
            </div>
    </div>
</div>

<img src="{{ asset('img/banniere.jpg') }}" alt="banniere" class="w-100">

<h1 class="text-center mt-5 mb-5">Nouvelles tendances</h1>
    <div class="ch1 mb-1">

        <div class="card mx-3">
            <img src="{{ asset('img/nike1.jpg') }}" class="card-img-top" alt="chaussure1">
            <p class="fst-italic"> Nike AirMax Plus</p>      
        </div>

        <div class="card mx-3">
            <img src="{{ asset('img/nike2.jpg') }}" class="card-img-top" alt="chaussure2">
            <p class="fst-italic">Nike AirMax 90</p>       
        </div>


        <div class="card mx-3">
            <img src="{{ asset('img/nike3.jpg') }}" class="card-img-top" alt="chaussure2">
            <p class="fst-italic">Air Max Plus 3</p>    
        </div>

    </div>

    <h3><a href="#" class="H py-3">Tout voir</a></h3>


    <img src="{{ asset('img/banniere2.jpg') }}" alt="banniere" class="w-100">


    <h1 class="text-center mt-5 mb-5">Nouvelles tendances</h1>
        <div class="ch1 mb-1">

            <div class="card mx-3">
                <img src="{{ asset('img/lacoste1.jpg') }}" class="card-img-top" alt="chaussure1">
                <p class="fst-italic">Sneakers T-Clip Lacoste x Peanuts homme en cuir</p>
            </div>

            <div class="card mx-3">
                <img src="{{ asset('img/lacoste2.jpg') }}" class="card-img-top" alt="chaussure2">
                <p class="fst-italic">Sneakers T-Clip homme en cuir et en textile</p>
            </div>


            <div class="card mx-3">
                <img src="{{ asset('img/lacoste3.jpg') }}" class="card-img-top" alt="chaussure2">
                <p class="fst-italic">Sneakers L-Guard Breaker homme en daim et textile</p>
                
            </div>
        </div>
    
    <h3><a href="#" class="H py-3">Tout voir</a></h3>


    <img src="{{ asset('img/banniere3.jpg') }}" alt="banniere" class="w-100">


    <h1 class="text-center mt-5 mb-5">Nouvelles tendances</h1>
        <div class="ch1 mb-1">

            <div class="card mx-3">
                <img src="{{ asset('img/lacoste1.jpg') }}" class="card-img-top" alt="chaussure1">
                <p class="fst-italic">Sneakers T-Clip Lacoste x Peanuts homme en cuir</p>
            </div>

            <div class="card mx-3">
                <img src="{{ asset('img/lacoste2.jpg') }}" class="card-img-top" alt="chaussure2">
                <p class="fst-italic">Sneakers T-Clip homme en cuir et en textile</p>
            </div>


            <div class="card mx-3">
                <img src="{{ asset('img/lacoste3.jpg') }}" class="card-img-top" alt="chaussure2">
                <p class="fst-italic">Sneakers L-Guard Breaker homme en daim et textile</p>
                
            </div>
        </div>
    
    <h3><a href="#" class="H py-3">Tout voir</a></h3>
{% endblock %}