{% extends 'base.html.twig' %}

{% block title %}  
    Hello ShooseMeController!
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/home.css") }}">
{% endblock %}

{% block body %}

    {% for message in app.flashes('success_register') %}
    
        <div class="col-6 mx-auto text-center alert alert-success">{{message}}</div>

    {% endfor %}


<div class="entete mx-auto"> 

  <div class="titre-entete">
    <h1 class="taille-titre ">Le rêve est à vos pieds</h1>
  </div>

  <div class="div-bouton">
    <div class="bouton-accueil fs-3">
      <a href="{{ path('homme')}}" class="mx-auto">Collection HOMME</a>
    </div>
    <div class="bouton-accueil fs-3">
      <a href="{{ path('femme')}}" class="mx-auto">Collection FEMME</a>
    </div>
  </div>

</div>

<h1 class="text-center marge-top bg-light col-9 mx-auto ombre-bottom">Nouveautés</h1>

<div class="d-flex justify-content-around marge-top col-11 mx-auto conteneur_best_seller"> 

  {% for data in chaussure_m %}
    <div class="d-flex my-3 ombre-bottom">
      <a href="{{path('details_article', {'id': data.id })}}" ><img src="{{ asset('img/' ~ data.photo) }}" class="d-block" alt="..." width="300px" height="350px" class="">
        <div class="baniere-model bg-light d-flex flex-row justify-content-between">
            <div class="ms-3 text-secondary">{{ data.marque }}</div>
            <div class="me-3 text-secondary">{{ data.model}}</div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

<h1 class="text-center marge-top bg-light col-9 mx-auto ombre-bottom">Promotions</h1>

  <div class="d-flex justify-content-around my-5 col-11 mx-auto conteneur_best_seller marge-top">
  {% for data in chaussure_f %} 
    
    <div class="d-flex mx-1 my-3 test ombre-bottom">
      
           <a href="{{path('details_article', {'id': data.id })}}" ><img src="{{ asset('img/' ~ data.photo) }}" class="d-block" alt="..." width="300px" height="350px">
        <div class="baniere-model bg-light d-flex flex-row justify-content-between">
            <div class="ms-3 text-secondary">{{ data.marque }}</div>
            <div class="me-3 text-secondary">{{ data.model}}</div>
        </div>
        </a>

    </div>

  {% endfor %}
  </div>
<div class="bg-light mx-auto marge-top shadow-lg big-boite">
  <h2 class="text-center">Catégories</h2>
    <div class="d-flex flex-row justify-content-center mx-auto my-5 boite-categories">

        <div class="section1 d-flex justify-content-end align-items-end">    
          <div class="fs-3 bouton-bas me-3 mb-3">
            <a href="{{ path('homme')}}" class="mx-auto">HOMME</a>
          </div>
        </div>

        <div class="section2 d-flex justify-content-center mx-4 align-items-end ">    
          <div class="fs-3 bouton-bas mb-3">
            <a href="{{ path('femme')}}" class="mx-auto">FEMME</a>
          </div>
        </div>

        <div class="section3 d-flex justify-content-start align-items-end">
          <div class="fs-3 bouton-bas ms-3 mb-3">
            <a href="{{ path('enfant')}}" class="mx-auto">ENFANT</a>
          </div>
        </div>
    </div>
</div>

  <h1 class="text-center marge-top bg-light col-11 mx-auto ombre-bottom">Meilleurs ventes</h1>

  <div class="d-flex justify-content-around my-5 col-9 mx-auto conteneur_best_seller marge-top">
  {% for data in chaussure_f %} 
    
    <div class="d-flex mx-1 my-3 test ombre-bottom">
      
           <a href="{{path('details_article', {'id': data.id })}}" ><img src="{{ asset('img/' ~ data.photo) }}" class="d-block" alt="..." width="300px" height="350px">
        <div class="baniere-model bg-light d-flex flex-row justify-content-between">
            <div class="ms-3 text-secondary">{{ data.marque }}</div>
            <div class="me-3 text-secondary">{{ data.model}}</div>
        </div>
        </a>

    </div>

  {% endfor %}
  </div>
  

{% endblock %}
