{% extends 'base.html.twig' %}

{% block title %}  
    Hello ShooseMeController!
{% endblock %}

{% block body %}

    {% for message in app.flashes('success_register') %}
    
        <div class="col-6 mx-auto text-center alert alert-success">{{message}}</div>

    {% endfor %}

<img src="{{ asset('img/banniereAccueil.jpg') }}" alt="banniere" class="w-100">


<div class="col-2 d-flex flex-row nowrap">
  {% for data in chaussure %}
    {% if data.top == 'top' %}   
      <div>
        <div class="" style="width: 20rem;">
          <img src="{{ asset('img/' ~ data.photo) }}" class="card-img-top" alt="...">
        </div>
      </div>
    {% endif %}
  {% endfor %}
  
</div>

  

<div class="ch1 mb-1 mt-5 row justify-content-around">

        {# BOUCLE DE CARDS CREEE VIA UNE METHODE LIMIT DANS LE CONTROLLER HOMME (l'affichage initial n'a pas été supprimé, juste commenté en-dessous #}
        
        {% for data in chaussure %}

 
        <div class="shoes_card card mb-5">
            <img src="{{ asset('img/' ~ data.photo) }}" class="card-img-top" alt="chaussure1">
            <p class="fst-italic text-center"> {{data.marque}} {{data.model}}</p> 
            <button class="btn btn-dark col-3 mx-auto"><a href="{{path('panier_add', {'id': data.id })}}"> Test ajout panier</a></button>     
        </div>

        {% endfor %}

    </div>



    


{% endblock %}
