{% extends 'base.html.twig' %}

{% block title %}  
    Hello ShooseMeController!
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/home.css") }}">
{% endblock %}

{% block body %}

    {% for message in app.flashes('success_register') %}
    
        <div class="col-6 mx-auto text-center alert alert-success">{{message}}</div>

    {% endfor %}

<img src="{{ asset('img/banniereAccueil.jpg') }}" alt="banniere " class="w-100">

<br>

<h1 class="text-center mt-5">Nouveautés</h1>

<div class="d-flex justify-content-center my-5 conteneur_best_seller"> 

  {% for data in chaussure_m %}
    <div class="d-flex mx-1 my-3 conteneur_image">

           <a href="{{path('details_article', {'id': data.id })}}" ><img src="{{ asset('img/' ~ data.photo) }}" class="d-block" alt="..." width="300px" height="350px">
        <div class="baniere-model bg-light d-flex flex-row justify-content-between">
            <div class="ms-3 text-secondary">{{ data.marque }}</div>
            <div class="me-3 text-secondary">{{ data.model}}</div>
        </div>
        </a>
          

    </div>
  {% endfor %}
</div>

<h1 class="text-center mt-5">Meilleurs ventes</h1>

  <div class="d-flex justify-content-center my-5 conteneur_best_seller">
  {% for data in chaussure_f %} 
    
    <div class="d-flex mx-1 my-3 test conteneur_image">
      
           <a href="{{path('details_article', {'id': data.id })}}" ><img src="{{ asset('img/' ~ data.photo) }}" class="d-block" alt="..." width="300px" height="350px">
        <div class="baniere-model bg-light d-flex flex-row justify-content-between">
            <div class="ms-3 text-secondary">{{ data.marque }}</div>
            <div class="me-3 text-secondary">{{ data.model}}</div>
        </div>
        </a>

    </div>

  {% endfor %}
  </div>

{% endblock %}
