{% extends "base.html.twig" %}

{% block title %}
    Shoesme | Paiement
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/home.css") }}">
{% endblock %}

{% block body %}
{# {{dump(panier)}} #}

{% for message in app.flashes('success_payment') %}

    <div class="col-6 mx-auto text-center alert alert-success p-3 mt-5 mess_success">{{message}}</div>
    
{% endfor %}

<div class="col-6 mx-auto row justify-content-around my-5">
    <button class="btn btn-warning col-3 p-3 text-center mess_accueil"><a href="{{path('home')}}" class="text-dark text-center">Retourner à l'accueil</a></button>
</div>




{% endblock %}