{% extends "base_backoffice.html.twig" %}

{% block title %}
    Shoesme | Comment Update
{% endblock %}

{% block body %}

<div class="d-flex justify-content-end">
    <a href="{{ path('home') }}" class="btn btn-outline-dark">Retour au site</a>
</div>

    <h1>Modifier le commentaire</h1>

    <div class="col-4 mx-auto">

        {{form_start(formComment)}}

            {{form_row(formComment.contenu)}}

            {{form_row(formComment.evaluation)}}

            <button>Modifier</button>

        {{form_end(formComment)}}

    </div>
{% endblock %}