{% extends "base_backoffice.html.twig" %}

{% block title %}
    
{% endblock %}

{% block body %}

<div class="d-flex justify-content-end">
    <a href="{{ path('home') }}" class="btn btn-outline-dark">Retour au site</a>
</div>

<div class="main-bo">
    <h1 class="text-center mt-3 mb-4">Liste des Utilisateurs</h1>

    {# {% for message in app.flashes('success') %}
        <div class="col-6 mx-auto text-center alert alert-success">
            {{ message }}
        </div>        
    {% endfor %} #}

        <table class="table table-striped mx-2" id="table-user">
            <thead class="entete-comments">
                <tr class="">
                        {% for data in colonnes %}

                            {% if data != 'password' %}
                                <th class="text-center"> {{data|capitalize}} </th>
                            {% endif %}
                            
                        {% endfor %}

                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>

                {% for data in cellules %} 
                    {# {{dump(data)}} #}
                    <tr class="">
                        {% if data != 'password' %}  

                            <td class="text-center"> {{ data.id}} </td>
                            <td class="text-center"> {{ data.email}} </td>   
                            <td>
                                {% for role in data.roles %}           
                                    {% if role == 'ROLE_ADMIN'%}
                                    Administrateur
                                    {% elseif role == null %}
                                    Utilisateur
                                    {% endif %}
                                {% endfor %}
                            </td>                         
                            <td class="text-center"> {{ data.prenom|capitalize}} </td>
                            <td class="text-center"> {{ data.nom|upper}} </td>
                            <td class="text-center"> {{ data.adresse}} </td>
                            <td class="text-center"> {{ data.ville|upper}} </td>
                            <td class="text-center"> {{ data.codepostal}} </td>
                            <td class="text-center"> {{ data.sexe|upper}} </td>
                            <td class="text-center"> +33{{ data.telephone}} </td>
                            <td class="text-center"> {{ data.datenaissance|date("d/m/Y")}} </td>
                             {% if data.avatar != null %}
                                <td><img class="avatarbo" src="{{ asset('avatar/' ~ data.avatar)}}" alt="avatar"></td>
                            {% else %}
                                <td class="text-danger">Aucun avatar uplodé</td>
                            {% endif %}

                            <td>
                            <a href="{{path('app_admin_user_update', {'id': data.id}) }}?op=roleUpdate" class="btn bg-warning"><i class="bi bi-pencil-square"></i></a>
                            </td>
                            
                        {% endif %}
                    </tr> 

                {% endfor %}
            </tbody>        
        </table>
    </div>

    {% if formulaire != null %}    

        <div class="mx-auto col-6">
        {{form_start(formulaire)}}

            {{form_row(formulaire.roles)}}
            {{form_row(formulaire.sexe)}}
            {{form_row(formulaire.nom)}}  
            {{form_row(formulaire.prenom)}}
            {{form_row(formulaire.adresse)}}
            {{form_row(formulaire.codePostal)}}
            {{form_row(formulaire.ville)}}
            {{form_row(formulaire.telephone)}}
            {{form_row(formulaire.dateNaissance)}}
            {{form_row(formulaire.avatar)}}
            
            <div class="text-center my-5">
            <button class="btn btn-dark">Valider</button>
            </div>
        {{form_end(formulaire)}} 
        
        </div>
    {% endif %} 

{% endblock %}