{% extends "base_backoffice.html.twig" %}

{% block title %}
    Shoesme | BO - Chaussures
{% endblock %}

{% block body %}

<div class="d-flex justify-content-end">
    <a href="{{ path('home') }}" class="btn btn-outline-dark">Retour au site</a>
</div>
{# {{dump(chaussure.0.couleurs.0)}} #}
{# {{dump(colonneCouleur)}} #}
<main id="MainStock">
    <h1 class="text-center my-5 bg-white">Vue d'ensemble du stock</h1>

{# ////////////// MESSAGE DE SUPPRESSION ///////////////////////////////// #}
    {% for message in app.flashes('suppression') %}
    
        <div class="col-6 mx-auto text-center alert alert-success">{{message}}</div>

    {% endfor %}


{# ////////////// MESSAGE D'AJOUT OU DE MODIFICATION ///////////////////////////////// #}
    {% for message in app.flashes('success') %}
    
        <div class="col-6 mx-auto text-center alert alert-success">{{message}}</div>

    {% endfor %}
{# ////////////// FIN MESSAGE D'AJOUT OU DE MODIFICATION ///////////////////////////////// #}
    <div class="d-flex justify-content-center my-4">
        <a href=" {{ path('backoffice_produit_ajout') }} " class="btn btn-outline-success col-10">Ajouter article</a>
    </div>

    <table class="table table-stripped table-hover mt-5" id="table-article">
    <thead>
        <tr>
        {% for nom in colonneChaussure %}
            {% if nom != 'id' and nom != 'photo' and nom != 'photo2' and nom != 'photo3' and nom != 'photo4'  %}
                <th class="text-center">{{nom}}</th> 
            {% endif %}
        {% endfor %}
            <th class="text-center">Photo</th>
            <th class="text-center">Photo 2</th>
            <th class="text-center">Photo 3</th>
            <th class="text-center">Photo 4</th>
            
            <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        

        {% for data in chaussure %}
            <tr> 
                {% if data %}
                    <td class="text-center align-middle">{{data.marque}}</td>
                    <td class="text-center align-middle">{{data.model}}</td>
                    <td class="text-center align-middle">{{data.type}}</td>
                    <td class="text-center align-middle">{{data.matiere}}</td>
                    <td class="text-center align-middle">{{data.descriptif|slice(1, 60)}}</td>
                    <td class="text-center align-middle">{{data.prix}}</td>
                    <td class="text-center align-middle">{{data.sexe}}</td>
                    <td class="text-center align-middle">{{data.affichage}}</td>
                    <td class="text-center align-middle">{{data.pointure}}</td> 
                    <td class="text-center">{{data.couleur}} </td> 
                    <td class="text-center">{{data.stock}}</td>
                    <td class="text-center align-middle"><img class="photobo" src="{{ asset('img/' ~ data.photo) }}" alt="{{ data.marque}}. ' - '.{{data.model}}"></td>
                    <td class="text-center align-middle"><img class="photobo" src="{{ asset('img/' ~ data.photo2) }}" alt="{{ data.marque}}. ' - '.{{data.model}}"></td>
                    <td class="text-center align-middle"><img class="photobo" src="{{ asset('img/' ~ data.photo3) }}" alt="{{ data.marque}}. ' - '.{{data.model}}"></td>
                    <td class="text-center align-middle"><img class="photobo" src="{{ asset('img/' ~ data.photo4) }}" alt="{{ data.marque}}. ' - '.{{data.model}}"></td>
                {% endif %}
            
            <td class="">
                <div class="d-flex flex-row nowrap justify-content-center">
                    <a href="{{path('backoffice_produit_modification',{'id': data.id}) }}" class="btn btn-outline-success mx-1"><i class="bi bi-pen"></i></a>
                    <a href="{{path('backoffice_produit_suppression', {'id': data.id}) }}" class="btn btn-outline-danger mx-1" onclick="return(confirm('Etes-vous sur de vouloir supprimer l'article : {{ data.id }} ?' ))"><i class="bi bi-trash"></i></a>
                <div>
            </td>            
            </tr>
        
        {% endfor %}    
        <tbody>
    </table>
</main>

{% endblock %}