{% extends "base_backoffice.html.twig" %}

{% block title %}
    Shoesme | Ajout - Chaussures
{% endblock %}

{% block body %}


<div class="main-inscription" id="MainStock">
<div class="div-inscription p-4">

<h1 class="text-center">
    {% if Modification %}
        Modification chaussure {{Modification}}
    {% else %}
        Ajout nouvelle chaussure
    {% endif %}
</h1>
    {# {{dump(formAdminShoes)}} #}

    {{form_start(formAdminShoes, {'attr': {'class': 'col-5  mx-auto my-5 bg-white form-inscription'}} ) }}

        {{form_row(formAdminShoes.sexe)}}
        {{form_row(formAdminShoes.marque)}}
        {{form_row(formAdminShoes.model)}}
        {{form_row(formAdminShoes.type)}}
        {# {{form_row(formAdminShoes.top, {'attr': {'class': 'col-5 bg-white select-form', 'style' : 'width:150px; height:60px;'}} )}} #}
        {# {{form_row(formAdminShoes.couleur)}} #}
        {{form_row(formAdminShoes.matiere)}}
        {{form_row(formAdminShoes.descriptif)}}
        {{form_row(formAdminShoes.photo)}}
        
        {{form_row(formAdminShoes.prix)}}
        

        {# {{form_row(formAdminShoes._token)}} #}

        <div class="text-center">
        <button class="btn btn-dark">
        {% if Modification %}
            Enregistrer les modifications
        {% else %}
            Enregistrer
        {% endif %}
        </button>
        </div>

    {{form_end(formAdminShoes)}}
    </div>
</div>
{% endblock %}