{% extends "base_backoffice.html.twig" %}

{% block title %}
    Shoesme | BO - Affichage Chaussures
{% endblock %}


{% block body %}


<h2 class="text-center">{{chaussure.0.marque ~ chaussure.0.model}} </h2>

{# Récapitulatif des infos du modèle sélectionné #}
<section class="d-flex flex-column justify-content-center align-items-center my-5">
    <h3>
        Disponible pour  
        {% for item in sexe %}
            {{item|capitalize}} 
        {% endfor %} </p>
    </h3>

    <h3>
        {{nbcouleur}} couleurs disponibles (affiché des ronds de la couleur correspondante si on a le temps):
        {% for item in couleur %}
        {{item|capitalize}} 
        {% endfor %}
    </h3>   

    <h3>
        {{nbpointure}} pointures disponibles : 
        {% for data in pointure %}
            {{data}} 
        {% endfor %}
    </h3>    

    <h3>
        stock total : {{stockTotal}} unités 
    </h3>    

</section>

{# On calcule la largeur de la colonne en largeur bootstrap, ici arrondi à l'inférieur #}
{% if nbcouleur %}
    {% set col = 12 // nbcouleur %}
{% endif %}



{# Affichage Pointure + stock par couleur #}
<section class="mx-auto d-flex flex-row justify-content-around">

{% for color in couleur %}
    
        <div class="border-start border-end border-info col-{{col}}">

            <div class="d-flex justify-content-center">
                <h3 class="text-center mx-2">{{color|upper}}</h3>
                    <form action="" method="post">
                        <select name="selecteurAffichage" id="affichage" class="mx-2">
                            <option value="" selected>Modifier le statut d'affichage</option>
                            <option value="standard">standard</option>
                            <option value="promotion">promotion</option>
                            <option value="nouveaute">nouveauté</option>
                            <option value="destockage">destockage</option>
                            <option value="solde">solde</option>
                        </select>
                        {# <button class="btn btn-warning mx-2"><a href="{{path('backoffice_affichage_article', {'id'})}}"></a> Modifier</button> #}
                    </form>
                
            </div>

            {% for data in photo %}
                {% if color == data.couleur %}
                <div class="d-flex justify-content-around ms-5 my-3">
                    <div><img class="photobo" src="{{ asset('img/' ~ data.photo) }}" alt=""></div>
                    <div><img class="photobo" src="{{ asset('img/' ~ data.photo2) }}" alt=""></div>
                    <div><img class="photobo" src="{{ asset('img/' ~ data.photo3) }}" alt=""></div>
                    <div><img class="photobo" src="{{ asset('img/' ~ data.photo4) }}" alt=""></div>
                </div>
                {% endif %}
            {% endfor %}
            

            <div class="d-flex flex-column justify-content-center">

                <div class="d-flex justify-content-center">
                    <h4 class="me-5">Pointures :</h4>
                    <h4 class="ms-5">Stock :</h4>
                </div>

               
            {% for data in chaussure %}
                {% if color == data.couleur %}
                <div class="d-flex justify-content-center">

                    <div class="form-check pt-2 me-2">
                        <input class="form-check-input" type="checkbox" value="{{data.pointure}}" id="{{data.pointure}}" name="{{data.pointure}}">
                        <label class="form-check-label" for="{{data.pointure}}">
                            {{data.pointure}}
                        </label>
                    </div>

                    <div class="form-check col-2 ms-5">
                        <input class="form-control" type="text" value="{{data.stock}}" id="{{data.stock}}" name="{{data.pointure}}stock">
                    </div>
        
                </div>   
                    
                {% endif %}
            {% endfor %}    
                              
            </div>    
        
        </div>
    
{% endfor %}
</section>

{% endblock %}