{% extends 'base.html.twig' %}

{% block title %}Hello DetailsArticlesController!{% endblock %}

{% block body %}

  {% for message in app.flashes('success_comment') %}
      
    <div class="col-6 mx-auto text-center alert alert-success">{{message}}</div>

  {% endfor %}   
    
<div class="d-flex flex-row mx-5 mt-5">

  <div class="col-md-6 d-flex flex-row flex-wrap">

    <img src="{{ asset('img/' ~ chaussure.photo) }}" class="m-4" style="width: 20rem;" alt="chaussure_nike_1">

    <img src="{{ asset('img/' ~ chaussure.photo2) }}" class="m-4" style="width: 20rem;" alt="chaussure_nike_1">

    <img src="{{ asset('img/' ~ chaussure.photo3) }}" class="m-4" style="width: 20rem;" alt="chaussure_nike_1">

    <img src="{{ asset('img/' ~ chaussure.photo4) }}" class="m-4" style="width: 20rem;" alt="chaussure_nike_1">
    
  </div>
    
  <div class="col-md-5 ms-5 mt-5">
    
    <div class="d-flex flex-row justify-content-between">
      <div>
        <h2 class="mt-4 mb-2 ms-3"> {{ chaussure.marque }} </h2>
      </div>
      

      <div class="mt-2 me-5">
        <div class="d-flex flex-column justify-content-end">
          <div>
            <p>Evaluation(s) : 30</p>
          </div>
          <div>
          {% if moyenne == 0 %}

            <div> 
                  <i class="bi bi-star text-warning"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i>
            </div>

          {% elseif moyenne >= 1 and moyenne < 2 %}
              <div> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i>
              </div>
          {% elseif moyenne >= 2 and moyenne < 3 %}
              <div> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i>
              </div>
          {% elseif moyenne >= 3 and moyenne < 4 %}
                <div> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i>  
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i>
              </div>
          {% elseif moyenne >= 4 and moyenne < 5 %}
              <div> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i>  
                <i class="bi bi-star-fill text-warning"></i>  
                  <i class="bi bi-star"></i>
              </div>
          {% else %}
              <div> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i>  
                  <i class="bi bi-star-fill text-warning"></i>  
                  <i class="bi bi-star-fill text-warning"></i> 
              </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div>
        <h5 class="mt-1 mb-4 ms-3"> {{ chaussure.model }} </h5>
    </div>


    {% if chaussure.sexe == 'm' %}
      <h4 class="mt-2 mb-4 ms-3">Chaussure pour Homme</h4>
    {% elseif chaussure.sexe == 'f' %}
      <h4 class="mt-2 mb-4 ms-3">Chaussure pour Femme</h4>
    {% endif %}
    
    <h5 class="mt-2 mb-4 ms-3">{{ chaussure.prix }} €</h5>
    
    <form method="post" class="col-md-3 mt-2 mb-4 ms-3">
      <label for="taille" class="form-label">Séléctionner votre taille :</label>
      <select class="form-select mt-2" style="width:100px;">
        <option selected>Taille</option>
        <option value="1">40</option>
        <option value="2">41</option>
        <option value="3">42</option>
        <option value="3">43</option>
        <option value="3">44</option>
        <option value="3">45</option>
      </select>
    </form>

    

    <div>
      <p class="mt-2 mb-4 ms-3">Livraison :<span class="text-success fs-5">Gratuite</span></p>
    </div>
    <div class="mt-2 mb-4 ms-3">
      {{ chaussure.descriptif }}
    </div>

    <button class="btn btn-dark col-3 ms-5 p-3 bouton-ajout-panier"><a href="{{path('panier_add', {'id': chaussure.id })}}">Ajouter au panier</a></button>

    {# <button type="button" class="btn btn-dark mt-2 mb-4 ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Afficher les détails du produit
    </button> #}
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          <div class="d-block">
            <h5 class="modal-title" id="exampleModalLabel">Nike Air Max Plus </h5>
            <h5 class="modal-title" id="exampleModalLabel">169.99€ </h5>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body mx-auto">
            UN AIR REBELLE.
            Revendiquez votre côté rebelle avec votre Nike Air Max Plus, un modèle Air novateur qui offre une stabilité optimale et un amorti exceptionnel. Reprenant les lignes ondulées, les détails en TPU et l'empeigne en mesh aéré du modèle OG, elle incarne un style rebelle.
            Avantages
            Empeigne en synthétique équipée de mesh aéré pour un confort léger et durable.
            Initialement pensées pour le running intensif, les unités Nike Air offrent un amorti souple conçu pour durer.
            Invitant les codes de la plage au cœur de la ville, la voûte plantaire visible en TPU s'inspire d'une queue de baleine et procure plus de structure. Les empiècements emblématiques en TPU rendent hommage aux palmiers et aux vagues de l'océan.
            TPU au niveau de la pointe pour une plus grande durabilité et un style brillant.
            Détails du produit
            Détails réfléchissants
            Ce vêtement n'est pas destiné à être utilisé comme Équipement de Protection Individuelle (EPI)
            Semelle en caoutchouc
            Couleur affichée : Noir/Noir/Noir
            Article : 604133-050
            Origines des Nike Air Max
            La technologie Air révolutionnaire a été intégrée à la gamme de datas Nike en 1978. En 1987, la Air Max 1 intègre pour la première fois la technologie Air visible au talon. Désormais, en plus de ressentir l'amorti Air, chacun pouvait également le voir en action. Depuis, les datas Air Max nouvelle génération connaissent un succès constant auprès des athlètes et des collectionneurs, grâce à leurs associations de couleurs saisissantes et à leur foulée légère parfaitement amortie.
          </div>          
        </div>
      </div>
    </div>

    {% if app.user %}
      
    <div class="col-md-10 mt-5 ms-5 vvvvv">

      <h2 class="text-center my-3">Donnez votre avis</h2>

      {{form_start(formComment) }}
      
        <div class="d-flex flex-row">
          <div class="col-md-6">
            {{form_row(formComment.contenu) }}
          </div>
          <div class="col-md-6 d-flex justify-content-center">
            {{form_row(formComment.evaluation) }}
          </div>
        </div>

        <div class="d-flex justify-content-center mb-3">
          <button class="btn btn-dark p-2 ">Envoyer</button>
        </div>
      {{form_start(formComment)}}

    </div>

  {% else %}

    <p class="text-secondary"> <a class="link-secondary" href="{{path('app_login')}}">Identifiez-vous</a> ou <a class="link-secondary" href="{{path('app_register')}}">créez votre compte</a>  pour poster un commentaire</p>
        
  {% endif %}
  </div>                
</div>

{# ############################################# COMMENTAIRES ############################################### #}

<div>
  <h2 class="text-center my-5">Derniers avis</h2>



  {% if chaussure.commentaires is not empty %} 


    {% for comment in chaussure.commentaires %}
          
        {# {{ dump(comment) }} #}
        <div class="mb-3">
        

          <div class="col-4">


            <p class="fw-bold">publié par {{ comment.user.nom }} {{ comment.user.prenom }}<small>(le {{ comment.date|date('d/m/Y')}})</small></p>
            
          </div>

          <div class="col-8">

            <p class="mb-2"><strong>Commentaire:</strong> <span class="fst-italic">{{ comment.contenu }}</span></p><hr>

          </div>
          
        </div>
        
    {% endfor %}

  {% else %} 


      <p class="fst-italic mb-5">Soyez le premier à donner votre avis!</p>


  {% endif %}  
<div>
  



{% endblock %}
