{% extends 'base.html.twig' %}

{% block title %}Hello DetailsArticlesController!{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/home.css") }}">
{% endblock %}

{% block body %}

  {% for message in app.flashes('success_comment') %}
      
    <div class="col-6 mx-auto text-center alert alert-success p-3">{{message}}</div>

  {% endfor %}   

     {# {{dump(datachaussure)}} #}
    {#{{dump(app.request.query.get('pointure'))}} #}

    
<div class="d-flex justify-content-around mx-3 mt-5 main-conteneur">
  

  <div class="col-6 d-flex row justify-content-center conteneur-photo">
    
     <div class="col-6 " >
      <img src="{{ asset('img/' ~ datachaussure.0.photo) }}" class="img-fluid" alt="chaussure_nike_1">
     </div> 
    
     <div class="col-6 ">
      <img src="{{ asset('img/' ~ datachaussure.0.photo) }}" class="img-fluid" alt="chaussure_nike_1">
     </div>

      <div class="col-6 ">
      <img src="{{ asset('img/' ~ datachaussure.0.photo) }}" class="img-fluid" alt="chaussure_nike_1">
     </div>

      <div class="col-6 ">
      <img src="{{ asset('img/' ~ datachaussure.0.photo) }}" class="img-fluid" alt="chaussure_nike_1">
     </div>
    
  </div>
    
  <div class="col-md-5 ms-2 mt-5 conteneur-choix">
    
    <div class="d-flex flex-row justify-content-between">
      <div>
        <h2 class="mt-4 mb-2 ms-3"> {{ datachaussure.0.marque }} </h2>
      </div>
      

      <div class="mt-2 me-5">
        <div class="d-flex flex-column justify-content-end">
          <div>
            <p>Evaluation(s) : {{datachaussure.0.commentaires|length}}</p>
          </div>
          <div>
          {% if moyenne == 0 %}

            <div> 
                  <i class="bi bi-star text-warning"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i>
            </div>

          {% elseif moyenne >= 1 and moyenne < 2 %}
              <div> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i>
              </div>
          {% elseif moyenne >= 2 and moyenne < 3 %}
              <div> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i>
              </div>
          {% elseif moyenne >= 3 and moyenne < 4 %}
                <div> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i>  
                  <i class="bi bi-star"></i> 
                  <i class="bi bi-star"></i>
              </div>
          {% elseif moyenne >= 4 and moyenne < 5 %}
              <div> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i>  
                <i class="bi bi-star-fill text-warning"></i>  
                  <i class="bi bi-star"></i>
              </div>
          {% else %}
              <div> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i> 
                  <i class="bi bi-star-fill text-warning"></i>  
                  <i class="bi bi-star-fill text-warning"></i>  
                  <i class="bi bi-star-fill text-warning"></i> 
              </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div>
        <h5 class="mt-1 mb-4 ms-3"> {{ chaussure.model }} </h5>
    </div>


    {% if datachaussure.0.sexe == 'm' %}
      <h4 class="mt-2 mb-4 ms-3">Chaussure pour Homme</h4>
    {% elseif datachaussure.0.sexe == 'f' %}
      <h4 class="mt-2 mb-4 ms-3">Chaussure pour Femme</h4>
    {% endif %}
    
    <h5 class="mt-2 mb-4 ms-3">{{ datachaussure.0.prix }} €</h5>
    {# Il faudra générer l'affichage en fonction du stock disponible #}

   
   
    
      {# Je défini ici une boucle basée sur le nombre de pointure disponible via le tableau sizeGroup (cette data n'a pour filtre que le modèle, elle regroupe également par tailles les chaussures). Ce formulaire envoie dans l'URL un indice 'pointure' ayant une valeur précise. cet indice est récupéré dans le controlleur DetailsArticlesController #}
      <div class="col-5 row justify-content-around p-3 tailleselec"> 
        <p class="text-center">Tailles </p>
        {% for data in sizeGroup %}

          {% if data.pointure %}

            {% if data.pointure == app.request.query.get('pointure') %}
               <div class="col-2 border border-dark bg-success mx-1 my-1 "><a href="{{path('details_article', {'id': data.id })}}?pointure={{data.pointure}}" class="text-dark text-center">{{data.pointure}}</a></div>
               {% else %}
               <div class="col-2 border border-dark mx-1 my-1"><a href="?pointure={{data.pointure}}" class="text-dark text-center">{{data.pointure}}</a></div>
            {% endif %}
            
          {% endif %}
          
        {% endfor %}
        
      </div> 

    {# Nouvelle boucle d'option basée cette fois sur le tableau 'tailleChaussure' ce tableau ne contient que les modèles de chaussures ayant une taille précise (taille sélectionnée via sizeGroup). Le formulaire génère toutes les couleurs disponible pour une Chaussure de taille X #}
    {% if tailleChaussure %}
      
      <div class="col-5 row justify-content-around p-3 my-3 colorselec"> 

        <p class="text-center">Couleurs </p>

        {% for data in tailleChaussure %}

          {% if data.couleur %}
          
            <div class="col-3 mx-2 my-1 border border-dark {{(data.couleur == app.request.query.get('couleur'))? 'bg-success':''}}"> <a href="{{path('details_article', {'id': data.id })}}?pointure={{data.pointure}}&couleur={{data.couleur}}" class="text-dark text-center">{{data.couleur}}</a></div>

          {% endif %}

        {% endfor %}

      </div>
      
    {% endif %}

    {# Mise en place d'une condition pour afficher le boutton ajouter au panier: si la chaussure a du stock, on affiche un boutton qui redirige vers le panier, sinon, on affiche un message de rupture de stock #}

    {% if couleurChaussure %} 
 
        {% if couleurChaussure.0.stock >0 %}

          <button class="btn btn-dark col-3 ms-5 p-3 bouton-ajout-panier"><a href="{{path('panier_add', {'id': couleurChaussure.0.id })}}">Ajouter au panier</a></button>

        {% else %}

          <em class="text-danger text-center fst-italic">Produit en rupture de stock!</em>

        {% endif %}

    {% endif %}

    <div>
      <p class="mt-4 mb-4 ms-3">A partir de 100 € d'achat livraison Gratuite</p>
    </div>
    <div class="mt-2 mb-4 ms-3 description">
      {{ datachaussure.0.descriptif }}
    </div>

      
    {# <button type="button" class="btn btn-dark mt-2 mb-4 ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Afficher les détails du produit
    </button> #}
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          <div class="d-block">
            <h5 class="modal-title" id="exampleModalLabel">Nike Air Max Plus </h5>
            <h5 class="modal-title" id="exampleModalLabel">169.99€ </h5>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body mx-auto">
            UN AIR REBELLE.
            Revendiquez votre côté rebelle avec votre Nike Air Max Plus, un modèle Air novateur qui offre une stabilité optimale et un amorti exceptionnel. Reprenant les lignes ondulées, les détails en TPU et l'empeigne en mesh aéré du modèle OG, elle incarne un style rebelle.
            Avantages
            Empeigne en synthétique équipée de mesh aéré pour un confort léger et durable.
            Initialement pensées pour le running intensif, les unités Nike Air offrent un amorti souple conçu pour durer.
            Invitant les codes de la plage au cœur de la ville, la voûte plantaire visible en TPU s'inspire d'une queue de baleine et procure plus de structure. Les empiècements emblématiques en TPU rendent hommage aux palmiers et aux vagues de l'océan.
            TPU au niveau de la pointe pour une plus grande durabilité et un style brillant.
            Détails du produit
            Détails réfléchissants
            Ce vêtement n'est pas destiné à être utilisé comme Équipement de Protection Individuelle (EPI)
            Semelle en caoutchouc
            Couleur affichée : Noir/Noir/Noir
            Article : 604133-050
            Origines des Nike Air Max
            La technologie Air révolutionnaire a été intégrée à la gamme de datas Nike en 1978. En 1987, la Air Max 1 intègre pour la première fois la technologie Air visible au talon. Désormais, en plus de ressentir l'amorti Air, chacun pouvait également le voir en action. Depuis, les datas Air Max nouvelle génération connaissent un succès constant auprès des athlètes et des collectionneurs, grâce à leurs associations de couleurs saisissantes et à leur foulée légère parfaitement amortie.
          </div>          
        </div>
      </div>
    </div>

    {% if app.user %}
      
    <div class="col-md-10 mt-5 ms-5 vvvvv champcom">

      <h2 class="text-center my-3">Donnez votre avis</h2>

      {{form_start(formComment) }}
      
        <div class="d-flex flex-row conteneur-com">
          <div class="col-md-6 message">
            {{form_row(formComment.contenu) }}
          </div>
          <div class="col-md-6 d-flex justify-content-center notation">
            {{form_row(formComment.evaluation) }}
          </div>
        </div>

        <div class="d-flex justify-content-center mb-3">
          <button class="btn btn-dark p-2 ">Envoyer</button>
        </div>
      {{form_start(formComment)}}

    </div>

  {% else %}

    <p class="text-secondary"> <a class="link-secondary" href="{{path('app_login')}}">Identifiez-vous</a> ou <a class="link-secondary" href="{{path('app_register')}}">créez votre compte</a>  pour poster un commentaire</p>
        
  {% endif %}
  </div>                
</div>

{# ############################################# COMMENTAIRES ############################################### #}

<div class="row justify-content-around conteneur-avis">
  <h2 class="text-center my-5">Derniers avis</h2>



  {% if datachaussure.0.commentaires is not empty %} 
   

      {% for comment in datachaussure.0.commentaires %}
            
          {# {{ dump(comment) }} #}
          <div class="mb-3">
          

            <div class="">


              <p class="fw-bold">publié par {{ comment.user.nom }} {{ comment.user.prenom }}<small>(le {{ comment.date|date('d/m/Y')}} à {{ comment.date|date('H:i:s')}})</small></p>
              
            </div>

            <div class="col-8">

              <p class="mb-2"><strong>Commentaire:</strong> <span class="fst-italic">{{ comment.contenu }}</span></p><hr>

            </div>
            
          </div>
          
      {% endfor %}
    
  {% else %} 


      <p class="fst-italic mb-5">Soyez le premier à donner votre avis!</p>


  {% endif %}  
</div>
  



{% endblock %}
