{% extends 'base.html.twig' %}

{% block title %}Hello DetailsArticlesController!{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    
        <div class="col-6 mx-auto text-center alert alert-success">{{message}}</div>

    {% endfor %}

<div class="d-flex ms-5 mt-5">
 
       
    
    <div class="card mx-5" style="width: 30rem;">

      <img src="{{ asset('img/nike/chaussure1/1.jpg') }}" class="card-img-top" alt="chaussure_nike_1">
      
    </div>

    <div class="card" style="width: 30rem;">

      <img src="{{ asset('img/nike/chaussure1/2.png') }}" class="card-img-top" alt="chaussure_nike_1">
     
    </div>
          <aside class="mx-auto">
            <h1>Nike Air Max Plus</h1>
            <h4>Chaussures pour Homme</h4><br>
            <h5>169.99 €</h5><br>

            <p>Sélectionnez la taille</p>
              {# <form> #}
                  <select class="form-select" aria-label="Default select example">
                        <option selected>Taille</option>
                        <option value="1">40</option>
                        <option value="2">41</option>
                        <option value="3">42</option>
                        <option value="3">43</option>
                        <option value="3">44</option>
                        <option value="3">45</option>

                    </select><br>
                    <button class="btn btn-dark rounded-pill" style="width:180px;height:30px">Ajouter au panier</button>
              {# </form> #}
<br><br>
                    <p>Livraison gratuite</p>
<br>
                    <h4>Revendiquez votre côté rebelle avec votre Nike Air</h4>
                     <h4>Max Plus, un modèle Air novateur qui offre une</h4>
                      <h4>stabilité optimale et un amorti exceptionnel.</h4>
                       <h4>Reprenant les lignes ondulées, les détails en TPU et</h4>
                        <h4>l'empeigne en mesh aéré du modèle OG, elle</h4>
                         <h4>incarne un style rebelle.</h4>



            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Afficher les détails du produit
                            </button>

                                  <!-- Modal -->
                                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                        <div class="d-block">
                                          <h5 class="modal-title" id="exampleModalLabel">Nike Air Max Plus </h5>
                                          <h5 class="modal-title" id="exampleModalLabel">169.99€ </h5>
                                          </div>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body mx-auto">
                                          UN AIR REBELLE.


                                          Revendiquez votre côté rebelle avec votre Nike Air Max Plus, un modèle Air novateur qui offre une stabilité optimale et un amorti exceptionnel. Reprenant les lignes ondulées, les détails en TPU et l'empeigne en mesh aéré du modèle OG, elle incarne un style rebelle.


                                          Avantages

                                          Empeigne en synthétique équipée de mesh aéré pour un confort léger et durable.
                                          Initialement pensées pour le running intensif, les unités Nike Air offrent un amorti souple conçu pour durer.
                                          Invitant les codes de la plage au cœur de la ville, la voûte plantaire visible en TPU s'inspire d'une queue de baleine et procure plus de structure. Les empiècements emblématiques en TPU rendent hommage aux palmiers et aux vagues de l'océan.
                                          TPU au niveau de la pointe pour une plus grande durabilité et un style brillant.

                                          Détails du produit

                                          Détails réfléchissants
                                          Ce vêtement n'est pas destiné à être utilisé comme Équipement de Protection Individuelle (EPI)
                                          Semelle en caoutchouc
                                          Couleur affichée : Noir/Noir/Noir
                                          Article : 604133-050

                                          Origines des Nike Air Max

                                          La technologie Air révolutionnaire a été intégrée à la gamme de chaussures Nike en 1978. En 1987, la Air Max 1 intègre pour la première fois la technologie Air visible au talon. Désormais, en plus de ressentir l'amorti Air, chacun pouvait également le voir en action. Depuis, les chaussures Air Max nouvelle génération connaissent un succès constant auprès des athlètes et des collectionneurs, grâce à leurs associations de couleurs saisissantes et à leur foulée légère parfaitement amortie.



                                        </div>
                                        
                                      </div>
                                    </div>
                                  </div>

          </aside>
</div>


<div class="d-flex ms-5 mt-5 mb-5">

    <div class="card mx-5" style="width: 30rem;">
      <img src="{{ asset('img/nike/chaussure1/3.png') }}" class="card-img-top" alt="chaussure_nike_1">
    
    </div>


    <div class="card" style="width: 30rem;">
      <img src="{{ asset('img/nike/chaussure1/4.png') }}" class="card-img-top" alt="chaussure_nike_1">
     
    </div>

</div>

{# ########################################  FORMULAIRE COMMENTAIRE ARTICLE  #################################}

<h2 class="text-center">Donnez votre avis</h2>

{# {{dump(formComment.evaluation)}} #}

  {% if app.user %}
    <div class="col-4 mx-auto">

      {{form_start(formComment)}}

        {{form_row(formComment.contenu)}}

        {{form_row(formComment.evaluation)}}

        <button>Valider</button>

      {{form_end(formComment)}}

    </div>

  {% else %}

    <p class="text-secondary"> <a class="link-secondary" href="{{path('app_login')}}">Identifiez-vous</a> ou <a class="link-secondary" href="{{path('app_register')}}">créez votre compte</a>  pour poster un commentaire</p>
        
  {% endif %}

{# ############################################# COMMENTAIRES ############################################### #}

<h2 class="text-center">Derniers avis</h2>

{% if chaussure.commentaires is not empty %}
  {% for comment in chaussure.commentaires %}
        
      {# {{ dump(comment) }} #}
      <div class="mb-3">
      
        <div class="col-4">

          <p class="fw-bold">publié par {{ comment.user.nom }} {{ comment.user.prenom }}<small>(le {{ comment.date|date('d/m/Y')}})</small></p>
          
        </div>

        <div class="col-8">

          <p class="mb-2"><strong>Commentaire:</strong> <span class="fst-italic">{{ comment.contenu }}</span></p><hr>

        </div>
        
      </div>
  {% endfor %}

  {% else %}

    <p class="fst-italic mb-5">Soyez le premier à donner votre avis!</p>

{% endif %}

{% endblock %}
